[Unit]
Description=Telegram Video Downloader Bot V2
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=benoicii
WorkingDirectory=/home/benoicii/telegram_bot_new/bot_vnext
ExecStart=/usr/bin/bash /home/benoicii/telegram_bot_new/bot_vnext/run_service.sh
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
